---
title: "Site Content"
layout: default
permalink: "/sitemap"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}}
                    <!-- <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.gini.twitter }}">Follow</a></span> -->
                    <span class="small btn btn-outline-success btn-sm btn-round"><a href="https://www.youtube.com/techbeatly" target="_blank">Watch Videos</a></span>
                </h2>

                <!-- <p><a href="{{ site.authors.gini.site }}">{{ site.authors.gini.site }}</a></p> -->
                <!-- <p class="excerpt">{{ site.authors.gini.bio }}</p> -->
                <p class="excerpt">Site content - notes, docs, references.</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.gini.name }}" src="{{site.baseurl}}/{{ site.authors.gini.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Event History</span></h4>
            {% assign events_list = site.data.events | sort: 'date' | reverse %}
            {% for event in events_list %}
                {% include event-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>