---
title: "Site Content"
layout: default
permalink: "/sitemap"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}}
                    <!-- <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.gini.twitter }}">Follow</a></span> -->
                    <span class="small btn btn-outline-success btn-sm btn-round"><a href="https://www.youtube.com/techbeatly" target="_blank">Watch Videos</a></span>
                </h2>

                <!-- <p><a href="{{ site.authors.gini.site }}">{{ site.authors.gini.site }}</a></p> -->
                <!-- <p class="excerpt">{{ site.authors.gini.bio }}</p> -->
                <p class="excerpt">Site content - notes, docs, references.</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.gini.name }}" src="{{site.baseurl}}/{{ site.authors.gini.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <!-- start sitemap section -->
        <div class="jumbotron jumbotron-fluid-round jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightgreen2 position-relative">
            <div class="pl-4 pr-0 h-100 tofront">
                <div class="row justify-content-between">
                    <!-- removed d-none from below-->
                    <div class="col-md-12 pt-5 pb-5 d-md-block pr-0" style="vertical-align: middle; padding-left: 0xp;">
                        <div style="vertical-align: middle;">
                            {% for post in site.pages %}
                                <!--only from _pages -->
                                {% if post.title and post.path contains '_pages/' %}
                                    <a class="sscroll btn btn-light2 btn-sm" style="margin: 6px;" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- end sitemap section -->

    </div>
</div>
</div>