<!--  Replace menu links here -->

<!-- <li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
  </li>


  <li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/ansible">Ansible</a>
  </li>

  <li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/openshift">OpenShift</a>
  </li>

  <li class="nav-item">
  <a class="nav-link" href="{{ site.baseurl }}/kubernetes">Kubernetes</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/events">Community</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ site.baseurl }}/books">My Books</a>
    </li> -->

{% for item in site.data.menu %}
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
  </li>
{% endfor %}
